.terraform/
*.tfvars
.vs/
.vscode/
bin/
obj/
out/
*.user

# ignore all occurrences of terraform.tfstate and terraform.tfstate.backup
terraform.**  
# ignore auto-created k8s config files during the terraform apply stage
config-map-**
kubeconfig_**
